<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.team.cuc.billingsystem.servicesuit.suitMapper.SuitMapper">

    <resultMap id="BaseResultMap" type="org.team.cuc.billingsystem.po.suitservice.SuitPo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="suitType" column="suitType" jdbcType="INTEGER"/>
        <result property="costType" column="costType" jdbcType="INTEGER"/>
        <result property="price" column="price" jdbcType="DOUBLE"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,suit_type,
        cost_type,price,status,create_uid,icon
    </sql>
    <insert id="saveOne" parameterType="SuitPo" useGeneratedKeys="true" keyProperty="id">
        insert into t_suit(<include refid="Base_Column_List"/>)
        values(null, #{name}, #{suitType}, #{costType}, #{price}, #{status},#{createUid},#{icon})
    </insert>
    <select id="selectAllSuits" resultType="org.team.cuc.billingsystem.po.suitservice.SuitPo">
        select
        <include refid="Base_Column_List"/>
        from t_suit;
    </select>
    <update id="updateById" parameterType="SuitPo">
        update t_suit
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="suitType != null">
                suit_type = #{suitType},
            </if>
            <if test="costType != null">
                cost_type = #{costType},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createUid != null">
                create_uid = #{createUid},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="selectSuitById" parameterType="Integer" resultType="org.team.cuc.billingsystem.po.suitservice.SuitPo">
        select
        <include refid="Base_Column_List"/>
        from t_suit
        where id = #{id}
    </select>
    <select id="selectSuit" parameterType="SuitPo" resultType="org.team.cuc.billingsystem.po.suitservice.SuitPo">
        select
        <include refid="Base_Column_List"/>
        from t_suit
        <where>
            1 = 1
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="suitType != null">
                and suit_type = #{suitType}
            </if>
            <if test="costType != null">
                and cost_type = #{costType}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createUid != null">
                and create_uid = #{createUid}
            </if>
            <if test="icon != null">
                and icon = #{icon}
            </if>
        </where>
    </select>
</mapper>
